* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

#calc {
    width: 400px;
    background-color: black;
    color: white;
}

#output {
    color: white;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding: 20px 5px;
}

.calc-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #d8d9db;
    color: black;
    height: 100px;
    width: 24.5%;
    border: none;
    font-size: 40px;
    
}

.calc-button:hover {
    background-color: #ebebeb;
}

.calc-button:active {
    background-color: #bbbcbe;
}

.symbol {
    background-color: #3dac4c;
    color: white;
}

.symbol:hover {
    background-color: #6fda7d;
}

.symbol:active {
    background-color: #2e863a;
}

.calc-row .sign-clicked {
    color: #3dac4c;
    background-color: white;
}

.sign-clicked:last-child:hover {
    color: #3dac4c;
    background-color: white;
}

.sign-clicked:last-child:active {
    color: #3dac4c;
    background-color: white;
}

.two-blocks {
    width: 49.6%;
}

.three-blocks {
    width: 74.8%
}

.calc-row {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

/* .calc-row:last-child {
    padding-bottom: 0;
} */